<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1 >氣象預測</h1>
<div id="div1">
<form  class="form" id="formm" action="javascript:myFunction()">
	<div class="block">
    <label>月：</label><input type="number" id="mon" min="1" max="12"  size="2" maxlength="2" class="text2" title="請輸入1~12" required="required" /></br>
	</div>
	<div class="block">
    <label>日：</label><input type="number"  id="day" min="1" max="31" size="2" maxlength="2" class="text2" title="請輸入1~31" required="required" /></br>
	</div>
	<div class="block">
	<input type="submit" name="submitt" value="submit" />
	</div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript">
function myFunction() {
	var Mon = document.getElementById("mon").value;
	var Day = document.getElementById("day").value;
	var inv_yhatPre = {{ dataPre}}
	var inv_yhatRH = {{ dataRH}}
	var inv_yhatTM = {{ dataTM}}
	var inv_yhatWS = {{dataWS}}
	document.getElementById("date").innerHTML =  Mon+"月"+Day+"日的天氣資料";
	document.getElementById("resultPre").innerHTML =  inv_yhatPre[Day];
	document.getElementById("resultRH").innerHTML =  inv_yhatRH[Day]+" %";
	document.getElementById("resultTM").innerHTML =  inv_yhatTM[Day]+" °C";
	document.getElementById("resultWS").innerHTML =  inv_yhatWS[Day]+" m/s";
	//console.log(inv_yhatPre)
	//console.log(inv_yhatRH)
	//console.log(inv_yhatTM)
	//console.log(inv_yhatWS)
}

</script>
</div>
<div id="div2" >
<p id="date">
</p>
<p id="resultPre">
</p>
<p id="resultRH">
</p>
<p id="resultTM">
</p>
<p id="resultWS">
</p>
</div>
<div id="div3">
</div>
</body>
</html>